@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-10 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-10 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-10 .mbr-article {
  color: #fff;
}
#ext_menu-58 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-58.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-58 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-58 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-59 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-59 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-59 .mbr-article {
  color: #fff;
}
#ext_menu-62 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-62.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-62 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-62 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-63 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-63 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-63 .mbr-article {
  color: #fff;
}
#ext_menu-66 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-66.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-66 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-66 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-67 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-67 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-67 .mbr-article {
  color: #fff;
}

#ext_menu-70 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-70.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-70 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-70 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-71 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
#content5-71 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-71 .mbr-article {
  color: #fff;
}
#ext_menu-74 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-74.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-74 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-74 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-75 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 36px;
}
#content5-75 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-75 .mbr-article {
  color: #fff;
}
#ext_menu-19 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-19.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-19 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-19 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-20 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-20 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-20 .mbr-article {
  color: #fff;
}
#ext_menu-22 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-22 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-22 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-23 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-23 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-23 .mbr-article {
  color: #fff;
}
#ext_menu-25 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-25.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-25 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-25 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-26 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-26 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-26 .mbr-article {
  color: #fff;
}
